*{
    margin: 0;
    padding: 0;
}
#tecnology{
            background-image: linear-gradient(rgba(0,0,0,0.5),#009688),url(mobile.jpg);
            background-size: cover;
            background-position: center;
            height: 100vh;
}
.logo{
    width: 80px;
    position: absolute;
    top: 10px;
    left: 50px;
}
.mobiletext{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.mobiletext h1{
    font-size: 130px;
}
.mobiletext p{
    font-size: 20px;
    font-style: italic;
}
.mobile-btn{
    margin: 80px auto 0;
}
.mobile-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid;
    position: relative;
  
}
.mobile-btn a span{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(236, 8, 8);
    z-index: -1;
    transition: 00.5s;
}
.mobile-btn a:hover span{
    width: 100%;
}
.mobile-btn a:hover{
    color: #000;
}
#mobileside{
    width: 200px;
    height: 50vh;
    position: fixed;
    right: -250;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;

}
#menubtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menubtn img{
    width: 20px;
    margin-top: 15px;

}
@media screen and (max-width: 770px){
    .mobiletext h1{
        font-size: 44px;
    }
    .mobile-btn a{
        display: block;
        margin: 20px auto;
    }

     /* features */

    #feature{
        width: 100%;
        padding: 70px 0;
    }
    .secondtext{
        text-align: center;
        padding-bottom: 70px;
    }
    .secondtext p {
        margin: auto;
        font-size: 20px;
        color: #009688;
        font-weight: bold;
    
    }